body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto auto auto;
  grid-template-columns: auto;
  gap: 2em; }
  body header {
    grid-area: header; }
  body main {
    grid-area: main; }
  body footer {
    grid-area: footer; }

* {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Manjari', sans-serif;
  color: whitesmoke;
  background-color: black; }
