* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Manjari', sans-serif;
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  color: whitesmoke;
  background-color: black;
  a {
    text-decoration: none;
    &:visited {
      color: whitesmoke;
    }
  }
  li {
    list-style: none;
  }
  header {
    .headerNav {
      ul {
        padding-top: 3em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
      }
    }
    .headerTitle {
      text-align: center;
      padding: 5em 0;
      font-size: 1.6em;
      iframe {
        padding: 3em 0;
      }
    }
    background-image: url("../assets/images/mountain2.jpg");
  }
  main {
    .mainArticle {
      text-align: center;
      max-width: 400px;
      padding-top: 2em;
      h3 {
        line-height: 2em;
      }
    }
    .mainImage1 {
      background-image: url("../assets/images/nf.jpg");
      width: 300px;
      height: 500px;
      text-align: center;
      text-shadow: 2px 2px 4px #000000;
    }
    .mainImage2 {
      background-image: url("../assets/images/ac.jpg");
      width: 300px;
      height: 500px;
      text-align: center;
      text-shadow: 2px 2px 4px #000000;
    }
    .mainImage3 {
      background-image: url("../assets/images/gs.jpg");
      width: 300px;
      height: 500px;
      text-align: center;
      text-shadow: 2px 2px 4px #000000;
    }
    .mainAside {
      text-align: center;
      max-width: 400px;
      padding-top: 12em;
      h3 {
        line-height: 2em;
      }
    }
    .mainImage4 {
      text-align: center;
      h4 {
        line-height: 1.5em;
      }
      h3 {
        line-height: 2.5em;
      }
    }
    .mainImage5 {
      text-align: center;
      h4 {
        line-height: 1.5em;
      }
      h3 {
        line-height: 2.5em;
      }
    }
  }
  footer {
    background-image: url("../assets/images/mountain.jpg");
    .footerLink {
      text-align: center;
      margin: 1.6em 0;
    }
    .footerNav {
      ul {
        padding-top: 3em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 35em;
        padding-bottom: 1em;
      }
    }
  }
}